window { 
    background-image: linear-gradient(to bottom, #edf4fb, #dae6f2, #dae6f2, #dae6f2, #dae6f2, #dae6f2); 
    color: #1a1a1a; 
    margin: 1px;  
    margin-right: 1.5px; 
    padding: 6px;
    font-size: 10px; 
}
scrolledwindow.display-scroll scrollbar { 
    min-width: 0; 
    min-height: 0; 
    opacity: 0;  
}
.button-grid { 
    margin: 3px; 
}
.display-scroll { 
    background-image: linear-gradient(to bottom, #d6e3f6, #f5f5f5);
    min-height: 40px;
    margin: 3px; 
    margin-bottom: 0px;
    border: 1px solid #8e9cae; 
    border-radius: 2px;
    font-size: 18px; 
    font-weight: 600; 
    color: #1a1a1a;  
    padding-top: 5px;
}
button.calc { 
    background-image: linear-gradient(to bottom, #f4f7fd, #f4f7fd, #f4f7fd, #e0eef8, #e0eef8, #ffffff); 
    margin: 1px; 
    padding: 3px; 
    margin-right: 1.5px;
    border: 1px solid #8e9cae; 
    border-radius: 3px;
    font-size: 13px; 
    padding: 3px;  
}
button.calc:hover { 
    background-image: linear-gradient(to bottom, #e0ecfa, #c4d8f0); 
}
button.calc:active { 
    background-image: linear-gradient(to bottom, #c8d8ec, #dce8f8); 
}
button.op { 
    background-image: linear-gradient(to bottom, #f4f7fd, #f4f7fd, #f4f7fd, #f4f7fd, #f4f7fd, #f4f7fd, #d5e2ed, #d5e2ed, #d5e2ed, #d5e2ed, #d5e2ed, #d5e2ed, #ffffff); 
    margin-right: 1.5px; 
    margin: 1px; 
    border: 1px solid #8e9cae; 
    border-radius: 3px;
    font-size: 9px; 
    padding: 3px;  
}
button.op:hover { 
    background-image: linear-gradient(to bottom, #e0ecfa, #c4d8f0); 
}
button.op:active { 
    background-image: linear-gradient(to bottom, #c8d8ec, #dce8f8); 
}
button.eq { background-image: linear-gradient(to bottom, #f4f7fd, #f4f7fd, #f4f7fd, #f4f7fd, #f4f7fd, #f4f7fd,   #f4f7fd,#f4f7fd, #f4f7fd, #f4f7fd, #f4f7fd, #f4f7fd, #d5e2ed,  #d5e2ed,#d5e2ed, #d5e2ed, #d5e2ed, #d5e2ed, #d5e2ed, #d5e2ed,  #d5e2ed,#d5e2ed, #d5e2ed, #d5e2ed, #ffffff); 
margin-right: 1.5px;
margin: 1px;
border: 1px solid #8e9cae; 
border-radius: 3px;
font-size: 26px; font-weight: light; 
padding: 3px;  
}
button.eq:hover { 
    background-image: linear-gradient(to bottom, #e0ecfa, #c4d8f0); 
}
button.eq:active { 
    background-image: linear-gradient(to bottom, #c8d8ec, #dce8f8); 
}
button.mem { 
    background-image: linear-gradient(to bottom, #d5e1ef, #d5e1ef, #d5e1ef, #d5e1ef, #d5e1ef, #d5e1ef, #d5e1f2, #d5e1f2, #d5e1f2, #d5e1f2, #d5e1f2, #d5e1f2, #ffffff); 
    margin: 1px;
    margin-right: 1.5px;
    border: 1px solid #8e9cae; 
    border-radius: 3px;
    font-size: 11px; 
    padding: 3px; 
    color: #333; 
}
button.mem:hover { 
    background-image: linear-gradient(to bottom, #d5e1f2, #d5e1ef); 
}
